@charset "utf-8";
$vlaue0: 0px;
$font_b: bold;
$font12: 12px;
$color333: #333; $color222:#222; $colorfff: #fff; $colorecec:#ececec; 
$color_main: #ff5b84; $color_sub:#ac1a41;
$center_m: 0px auto; $center_align: center;
$border1: 1px; $border2: 2px; $border3: 3px;

*{margin: $vlaue0; padding: $vlaue0;}
body{font-family: '맑은 고딕', arial, sans-serif; font-size: $font12; color: $color333;}

header{text-align: $center_align;}
header h1{padding: 10px 0px;}
header img{height: 80px;}

main{}
dl{margin: $vlaue0 10px; overflow: hidden;}
dt{
  border-bottom: $border2 solid $color_sub;
  background: $color_main;
  color: $colorfff;
  font-size:15px;
  line-height: 43px; text-indent: 10px;
}
dt span{font-weight: $font_b;}
dd{
  text-indent: 10px;
  background: $colorecec;
  border-bottom: $border1 solid $color_sub;
}
dd a{
  color: $color333;
  text-decoration: none;
  line-height: 40px;
  transition: 0.4s;
  display: block;
}
dd a:hover{
  color: $colorfff;
  font-weight: $font_b;
  background: rgba(126, 126, 126, 0.7);
  transform: scale(1.1);
  box-shadow: 0px 0px 3px rgb(172, 172, 172);
  text-indent: 50px;
}


footer{
  text-align: $center_align;
  background: $color222;
  color: $colorfff;
  line-height: 60px;
}
footer address{font-style: normal;}